/* This universal/global selector will apply to everything */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* sets background color of entire page */
body {
  background-color: #d9dcd6;
}


.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* change color of "seo" in "Horiseon" */
.header h1 .seo {
  color: #d9dcd6;
}

/* I changed from .header div to nav to be more semantic */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* remove bullet points */
.header nav ul {
  list-style-type: none;
}

/* add spacing between nav bar items and sets to one line */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* style text in the nav bar, no default "link" style if we use text-decoration: none */
a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* this defines the hero image*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* This will push content to the left side of the box */
.float-left {
  float: left;
  margin-right: 25px;
}

/* This will push content to the right side of the box */
.float-right {
  float: right;
  margin-left: 25px;
}

/* 
set content width to 75% and the display type to inline-block
so there's room for the aside on the right side of the page
*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*
style for the aside containing Lead Generation, Brand Awareness, 
Cost Management.
*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

/* consolidate 3 classes (benefit-lead, benefit-brand, benefit-cost) into benefit-style */
.benefit-style {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-style h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-style img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* consolidate 3 classes (search-engine-optimization, 
online-reputation-management, social-media-marketing) into content-cards  */
.content-cards {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content-cards img {
  max-height: 200px;
}

.content-cards h2 {
  margin-bottom: 20px;
  font-size: 36px;
}


.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}